{% extends "auctions/layout.html" %}

{% block title %} Create Listing {% endblock %}

{% block body %}
<h1>Add Listing </h1>

<form class="form" action="{% url 'create_listing' %}" method="post">
    {% csrf_token %}
    <div class="form_title"> Title : {{form.title}}</div>
    <div class="form_starting_bid"> Starting bid : {{ form.starting_bid }}</div>
    <div class="form_image_url">Image url(optional): {{ form.image_url }}</div>
    <div class="form_category">Category : {{ form.category }} </div>
    <div class="form_description">Description :<br> {{ form.description }}</div>
    <div class="form_active">Active : {{ form.active }}</div>
    <input type="submit">
</form>

{% endblock %}