{% extends "auctions/layout.html" %}

{% block body %}
<h3>{{ auction_listing.item_name.capitalize }}</h3>
<img src="{{ auction_listing.image_url }}" alt="{{ auction_listing.item_name }}">
<div><strong>Seller: </strong>{{ auction_listing.owner.username.capitalize }}</div>

<div><strong>Description </strong>: {{ auction_listing.description }}</div>
<div><strong>Current Price</strong>: ${{ auction_listing.start_bid }}</div>
<div><strong>Category</strong>: {{ auction_listing.category }}</div>
{% if auction_listing.active == True %}
<div><strong>Availability:</strong>: Currently Available </div>
{% else %}
<div><strong>Availability:</strong>: Currently Unavailable </div>
{% endif %}
<br>
{% endblock %}