{% extends "auctions/layout.html" %}

{% block body %}
<h3 class="body title">{{ auction_listing.item_name.capitalize }}</h3>
<img class="listing imag" src="{{ auction_listing.image_url }}" alt="{{ auction_listing.item_name }}">
<div class="description" ><strong>Seller: </strong>{{ auction_listing.owner.username.capitalize }}</div>

<div ><strong>Description </strong>: {{ auction_listing.description }}</div>
<div><strong>Starting Price</strong>: ${{ auction_listing.start_bid }}</div>
<div><strong>Current Price</strong>: ${{ current_price }}</div>
<div><strong>Category</strong>: {{ auction_listing.category }}</div>
{% if auction_listing.active == True %}
<div><strong>Availability</strong>: Currently Available </div>
{% else %}
<div><strong>Availability</strong>: Currently Unavailable </div>
{% endif %}
<br>
<form action="{% url 'listing_page' listing_id=listing_id %}" method="post">
    {% csrf_token %}

    {% if close_ownership %} 
        <!-- owner will get only the option to control their bid realistically -->
        <input type="submit" name="Close_bid" value="Close bid"> 
        <input type="submit" name="Open_bid" value="Open bid">
    {% else %}
        {% if auction_listing.active %}
            Enter bid($): <input type="number" name="bid"> 
            <input type="submit" name="Bid_submit" value="Submit bid">
        {% else %}
            <h5>The bid has been closed.</h5>
            {% if winner_present %}
            <h3>But You are the winner!</h3>
            {% endif %}
        {% endif %} 

        {% if watchlist_present %}
            <input type="submit" name="watchlist_act" value="Remove from WatchList" >
        {% else %}
            <input type="submit" name="watchlist_act" value="Add to WatchList" >
        {% endif %}
    {% endif %}

    
</form>
<h5>{{ success_message }}</h5>

<!-- dealing with comments -->
<form action="{% url 'listing_page' listing_id=listing_id %}" method="post">
    {% csrf_token %}
    <div class="form comment">
    Enter comment : {{ form.comment }}
    <input type="submit" name="Comment_submit" value="Send" >
    </div>
</form>

{% for comments in all_comments %}
<br>
<div class="Comment">{{ comments.commentor }} : {{ comments.comment }}</div>
{% endfor %}
{% endblock %}